* {
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(208, 208, 205);
    display:flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom, #5e44ab36, #5e44ab88),  url(kopia.jpg);
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

header h1 {
        font-size: 96px;
        font-style: italic;
        color: white;
        text-align: center;
    }
    
header h2 {
        font-size: 40px;
        font-style: italic;
        color: rgb(255, 255, 255);
        margin-left: 66rem;
    }


    p {
        color: #0c0c0c;
    }
    
    h2 {
        color: #0c0c0c;
    
    }

.wrapper {
    max-width: 1440px;
}  
main {
    background-color: #5e44ab88;
    max-width: 1220px;
    width: 100%;
    align-self: center;
}

.huvud {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section1 {
    max-height: 360px;
    height:100%;
    background-image: url(image.jpg);
    background-size:cover;
    display: flex;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    
}

.huvud section {
    width: 50%;
    text-align: center;
    height: 360px;

}

section h3 {
    font-size: 40px;
    font-style: italic;
    color: rgb(255, 255, 255);
    align-items: center; 
    margin-top: 9rem;
}

.section3 h2 {
    margin-top: 3rem;
}

.section3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 1225px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin:0;
    gap:40px;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    
}

hr {
    border: 1px solid #5e44ab88;
    border-width: 2px; 
    border-style: solid;
    border-color: #5e44ab88; 
    width: 7%; 
    margin: 20px auto;
}

footer {
    background-color: #0d0d0d;
    color: white;
    width: 1221px;
    height: 373px;
    align-self: center;
    display: flex;
    justify-content: center;

}


footer h3 {
    font-size: 16px;
    font-style: italic;
    color: white;
    display: flex;
    align-items: center;
    

}

.social-links {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; 
    padding-left: 20rem;
    
}

.social-links a {
    margin-left: 3rem;
}


.signature-text {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: rgb(28, 28, 28);
    margin-bottom: 30px;
    margin-top: 30px;
}

.purple-text {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: #5e44ab88;

}

.name {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: rgb(28, 28, 28);
}
